<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.springboot.mapper.UserInfoMapper">
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.qf.springboot.model.UserInfo">
		<result column="id" property="id" />
		<result column="email" property="email" />
		<result column="enabled" property="enabled" />
		<result column="password" property="password" />
		<result column="qq" property="qq" />
		<result column="realname" property="realname" />
		<result column="tel" property="tel" />
		<result column="username" property="username" />
		<result column="usertype" property="usertype" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id,email, enabled, password, qq, realname, tel, username,
		usertype
	</sql>

</mapper>
